{% extends 'base.html' %}

{% block content %} 
    <div class="container">
        <div class="row mt-4">
            <h3>Envio de Contatos</h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h4>Mensagem:</h4>
                <div class="col-12 border rounder p-4 shadow">
                    {{post.mensagem}}
                    <hr>
                    <img src="{{url_for('static', filename='data/post/{}'.format(post.imagem))}}" alt="">
                </div>
            </div>
            <div class="col-12 mt-3">
                <h4>Comentarios:</h4>
                <form action="{{ url_for('PostDetail', id=post.id) }}" method="post" class="row mt-4 p-4 round border shadow">
                    {{form.csrf_token}}
         
                    {{form.comentario.label()}}
                    {{form.comentario(class="form-control")}}
         
                    {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
         
                 </form>
            </div>
            <hr>
            <div class="col-12 mt-4 border rounded shadow p-3">
                {% for c in post.comentarios%}
                <p>
                    <b>Usuário: </b>{{c.user.nome}} {{c.user.sobrenome}} <br><br>
                    {{c.comentario}}
                </p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}